<head>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/Task/Module.js"></script>
    <script src="~/Scripts/Task/Service.js"></script>
    <script src="~/Scripts/Task/Controller.js"></script>
</head>

    <div ng-app="TaskApp">
        <div ng-controller="TaskCtrl">
            <table border="1">
                <thead>
                    <tr style="font-size: 20px">
                        <th>Заголовок</th>
                        <th>Описание</th>
                        <th>Дата выполнения</th>
                        <th>Статус</th>
                        <th>Приоритет</th>
                    </tr>
                </thead>
                <tbody ng-repeat="t in Tasks.data">
                    <tr style="font-size:20px">
                        <td><input type="text" ng-model="t.Task.Header" /></td>
                        <td><input type="text" ng-model="t.Task.Description" /></td>
                        <td><input type="text" ng-model="t.Task.CompleteDate" /></td>
                        <td><input type="text" ng-model="t.Task.Status" /></td>
                        <td><input type="text" ng-model="t.Task.Priority" /></td>
                        <td><input type="button" value="Сохранить" ng-click="UpdateTask(t.Task)" /></td>
                        <td><input type="button" value="Удалить" ng-click="DeleteTask(t.Task.TaskId)" /></td>
                    </tr>
                    <tr ng-if="t.SubTask.length != 0">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Подзадача</td>
                        <td>Статус</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="s in t.SubTask">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input type="text" ng-model="s.Description" /></td>
                        <td><input type="text" ng-model="s.Status" /></td>
                        <td><input type="button" value="Сохранить" ng-click="UpdateSubTask(s)" /></td>
                        <td><input type="button" value="Удалить" ng-click="DeleteSubTask(s.SubTaskId)" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input type="text" placeholder="Новая подзадача" ng-model="subtask.Description" /></td>
                        <td><input type="text" placeholder="Статус выполнения" ng-model="subtask.Status" /></td>
                        <td><input type="button" value="Добавить" ng-click="UpdateSubTask(subtask, t.Task.TaskId)" /></td>
                        <td></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr style="font-size:20px">
                        <td><input type="text" placeholder="Новая задача" ng-model="task.Header" /></td>
                        <td><input type="text" placeholder="Описание задачи" ng-model="task.Description" /></td>
                        <td><input type="text" placeholder="Дата выполнения" ng-model="task.CompleteDate" /></td>
                        <td><input type="text" placeholder="Статус" ng-model="task.Status" /></td>
                        <td><input type="text" placeholder="Приоритет" ng-model="task.Priority" /></td>
                        <td><input type="button" value="Добавить" ng-click="UpdateTask(task)" /></td>
                        <td></td>
                    </tr>                    
                </tfoot>
            </table>
        </div>
    </div>
    

